<div ng-controller="Umbraco.Community.NestedContentConverters.DashboardController as vm">

  <umb-editor-view footer="false">
    <umb-editor-header name="vm.title"
                       name-required="false"
                       name-locked="true"
                       hide-alias="true"
                       hide-icon="true"
                       hide-description="true">

    </umb-editor-header>

    <umb-editor-container>
      <umb-load-indicator class="mt2" ng-if="vm.loading"></umb-load-indicator>

      <div ng-if="!vm.loading">

        <umb-box>
          <umb-box-header title="Datatypes"></umb-box-header>
          <umb-box-content ng-if="vm.dataTypeMigrationState === 'NoNestedContent'">No nested content based data types found. Nothing to migrate</umb-box-content>

          <umb-box-content ng-if="vm.dataTypeMigrationState === 'NotMigrated'">
            <div class="umb-table ncc-table">
              <div class="umb-table-head">
                <div class="umb-table-row">
                  <div class="umb-table-cell not-fixed">
                    Nested content data type
                  </div>
                  <div class="umb-table-cell not-fixed">
                    Block list name
                  </div>
                </div>
              </div>
              <div class="umb-table-body">
                <div class="umb-table-row" ng-repeat="dt in vm.dataTypesToMigrate track by $index">
                  <div class="umb-table-cell not-fixed">
                    {{dt.NestedContentName}}
                  </div>
                  <div class="umb-table-cell">
                    <input type="text" name="dt_{{$index}}" ng-model="dt.BlockListName" class="umb-property-editor umb-textstring textstring flx-i"/>
                  </div>
                </div>
              </div>
              <div class="umb-table-footer">
                <div class="umb-table-row">
                  <div class="umb-table-cell not-fixed">
                    <umb-button label="Migrate datatypes" type="button" button-style="primary"></umb-button>
                  </div>
                </div>
              </div>
            </div>
          </umb-box-content>

          <umb-box-content ng-if="vm.dataTypeMigrationState === 'PartiallyMigrated'">We have migrated some datatypes, but not everyting</umb-box-content>

          <umb-box-content ng-if="vm.dataTypeMigrationState === 'Done'">Migration is done, we can proceed</umb-box-content>
        </umb-box>

      </div>
    </umb-editor-container>

  </umb-editor-view>



</div>
