<div ng-controller="Umbraco.Community.NestedContentConverters.DashboardController as vm">

  <umb-editor-view footer="false">
    <umb-editor-header name="vm.title"
                       name-required="false"
                       name-locked="true"
                       hide-alias="true"
                       hide-icon="true"
                       hide-description="true">

    </umb-editor-header>

    <umb-editor-container>
      <umb-load-indicator class="mt2" ng-if="vm.loading"></umb-load-indicator>

      <div ng-if="!vm.loading">

        <umb-box>
          <umb-box-header title="Datatypes"></umb-box-header>
          <umb-box-content ng-if="vm.dataTypeMigrationState === 'NoNestedContent'">No nested content based data types found. Nothing to migrate</umb-box-content>

          <umb-box-content ng-if="vm.dataTypeMigrationState === 'NotMigrated'">We need to migrate everything</umb-box-content>

          <umb-box-content ng-if="vm.dataTypeMigrationState === 'PartiallyMigrated'">We have migrated some datatypes, but not everyting</umb-box-content>

          <umb-box-content ng-if="vm.dataTypeMigrationState === 'Done'">Migration is done, we can proceed</umb-box-content>
        </umb-box>

      </div>
    </umb-editor-container>

  </umb-editor-view>

  

</div>
